# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages that Data Scientists use
+ Commanly used libraries used by Data Scientists
+ Data Science Tools
+ Few Arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Keras
6. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|PyCharm|
|Google Collab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Maneendra Mahan Bhimireddy